.icon-left{
    position: absolute;
    top: 10px;
    left: 10px;
}

.icon-right{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.screen-display{
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 100vh;
}

.summer{
    background-color: orange;
}

.winter{
    background-color: aliceblue;
}

.screen-display.summer i {
    color: red;
}

.screen-display.winter i {
    color: blue;
}